<ion-view title="Location" id="page6" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5867.075815809127!2d-73.81250411006917!3d42.67114676528774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0a34cc4ffb4b%3A0xe1a16312a0e728c4!2sAlbany%2C+NY%2C+USA!5e0!3m2!1sen!2sth!4v1485880304576"
      width="355" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <font color="white" ;="">
      <p>
        <b>Location and Contact Information</b>
      </p>
      <p>1234 W. 42nd St, Ste. 104</p>
      <p>Albany, NY</p>
      <p>999-999-9999</p>
    </font>
  </ion-content>
</ion-view>