<ion-view title="Menu" id="page5" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/BAuATuR8RFJlTzJxpST1_menu.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div style="text-align:center; font-family:sans serif; color:white;">
      <h3 style="color:white;">Pancake Sandwich</h3>
      <p>One egg any style, three fluffy buttermilk pancakes, choice of: bacon or sausage</p>
      <p>R65</p>
      <h3 style="color:white;">The Full House</h3>
      <p>Any eggs, toast, tomato, mushrooms, choice of: bacon or sausage</p>
      <p>R75</p>
      <h3 style="color:white;">The Big LeBowski</h3>
      <p>250gram Beef Patti, Bacon, cheddar and guacamole</p>
      <p>R95</p>
    </div>
  </ion-content>
</ion-view>