<ion-view title="New Albany Restaurant" id="page1" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <h2 style="text-align:center;vfont-family:sans serif; color:white" ;="">NEW ALBANY RESTAURANT</h2>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.ourStory" id="newAlbanyRestaurant-card21">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.ourStory">
          <img src="img/LQH2uBKiRlir3B09oXPO_ourstory.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="newAlbanyRestaurant-list-item-container2">
        <div id="newAlbanyRestaurant-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">OUR STORY</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.menu2" id="newAlbanyRestaurant-card22">
      <div class=" item item-image">
        <img src="img/zzRHB8qvQPqi401exZQT_menu.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="newAlbanyRestaurant-list-item-container3">
        <div id="newAlbanyRestaurant-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">MENU</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="http://opentable.com" id="newAlbanyRestaurant-card23">
      <div class=" item item-image">
        <a style="display:block;" href-inappbrowser="http://opentable.com">
          <img src="img/o10QsszFQmb8gttj1jvY_reservation.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="newAlbanyRestaurant-list-item-container4">
        <div id="newAlbanyRestaurant-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">RESERVATIONS</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.location" id="newAlbanyRestaurant-card25">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.location">
          <img src="img/Z84o0oovQc2aJ6juZjxp_location.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="newAlbanyRestaurant-list-item-container6">
        <div id="newAlbanyRestaurant-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">LOCATION AND CONTACT INFORMATION</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>